extends ../layout
block content
    h1 Players
    div#players
      ul
        li
          a(href="/players/richard") Richard
        li
          a(href="/players/jake") Jake
        li
          a(href="/players/guy") Guy