body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif


a
  color: #00B7FF


code
  background: #f3f3f3
  display: block;
  margin: 20px auto
  overflow: scroll
  padding: 10px


.container
  margin 0 auto
  width 940px


#header
  clear both
  display block
  overflow hidden

#logo
  float left

.nav
  float right

  li
    display inline-block
    float left
    margin-left 15px

    a
      line-height 62px
      padding 10px 20px

  li.active
    a
      background #f3f3f3